<section>
    {{#with room}}
    <h1>{{name}} - Details</h1>
    <main>
        <div>
            <img src="{{imgUrl}}" alt="room 1">
        </div>
        <p>{{description}}</p>
        <p>Price per night: {{price}}€</p>
    </main>
    {{/with}}
</section>